#partners{
    background: $color2;
    #partneredtext{
        h4{
        color: $navbarcolor;
       font-family: $headingfont;
        }

    }
    img{
        margin-top: 5px;
        margin-left:0px;
        height: 30px;
    }
    #businessincubation{
        margin-top: 3px;
    }
}