#tweetsection{
    background: url(../assets/tweetbg.png);
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    height: 200px;
    h2{
        padding-top: 30px;
        color: $navbarcolor;
        font-family: $headingfont;
    }
    button{
        position:absolute;
        left: 50%;
        margin-top: 20px;
        transform: (translate(-50%,0%));
        border: 0px;
        border-radius: 8px;
        background: $navbarcolor;
        a{
            padding: 10px 10px 10px 10px;
            font-family: $headingfont;
            font-size: 25px;
            color: $color2;
        }
    }
}